<!DOCTYPE html>
<html lang="en-us">

<head>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat&family=Sacramento&family=Yusei+Magic&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9221935992.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-image: url(/assets/image/back.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

        }

        code {
            font-family: 'Roboto Mono', monospace;

        }
    </style>

</head>
{%- include head.html -%}

<body>

    <div style="font-family: 'Indie Flower', cursive;font-size:x-large;">
        {%- include header.html -%}
    </div>
    <main class="page-content" aria-label="Content" style="font-family: 'Yusei Magic', sans-serif;">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>