<!DOCTYPE html>
<html lang="en-us">

<head>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat&family=Sacramento&family=Yusei+Magic&display=swap"
        rel="stylesheet">
    <style>
        body {
            background-image: url(/assets/image/back.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

        }
    </style>

</head>
{%- include head.html -%}

<body>

    <div style="font-family: 'Indie Flower', cursive;font-size:x-large;">
        {%- include header.html -%}
    </div>
    <main class="page-content" aria-label="Content" style="font-family: 'Yusei Magic', sans-serif;">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>